<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWS.Extensions" version="1.5.26.1" targetFramework="net451" />
  <package id="AWS.SessionProvider" version="1.5.26.3" targetFramework="net451" />
  <package id="AWSSDK" version="2.1.5.0" targetFramework="net451" />
  <package id="Spring.Core" version="1.2.0.20001" targetFramework="net451" />
  <package id="Telerik.Web.UI" version="2011.1.519.40" targetFramework="net451" />
</packages>