<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<!-- This is the configuration file for the MemberSuite open-source portal. 
The items you MUST configure are:

   * API User Name
   * API Password
   * AssociationID
   
   Everything else is optional.
-->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages theme="Blue"/>
	</system.web>
	<appSettings>
    
    <!-- This is the Uri of the Concierge API. You should almost always comment this out
		<add key="Default_ConciergeUri" value="net.tcp://localhost:1566"/>-->
    
    <!-- This is the ID of the association this portal is tied to. If this is blank, or 
    non-existent, MemberSuite will attempt to determine the association by resolving the host name.
    You should replace this value with the ID of your association - you can determine this by logging
    into the MemberSuite System, navigating to Setup, and selecting Association Settings. -->
    <add key="AssociationID" value="CONFIG NEEDED"/>
     
    <add key="ImageServerUri" value="https://images.production.membersuite.com"/>
    
    <!-- API User Name
      
        You need to provide a console user name and password to access the API. You can set this 
        up in the Customer Center as a separate API user.    
    -->
    
    <add key="AccessKeyId" value="CONFIG NEEDED"/>
    <add key="SecretAccessKey" value="CONFIG NEEDED"/>
    <add key="SigningCertificateId" value="CONFIG NEEDED"/>
    
    <!--Auto Login Settings
    
      The auto login will automatically try to log in the user specified in the config
      this is helpful during development, where you don't want to constantly have to
      relogin for each compile. This is optional and should ABSOLUTELY be turned off
      when the portal is deployed.

   
    <add key="AutoLoginName" value="jackie"/>
    <add key="AutoLoginPassword" value="password"/> -->
	</appSettings>
  <system.webServer>
    <handlers>
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" />
      <add name="Telerik_Web_UI_SpellCheckHandler_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" />
    </handlers>    
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
