<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web xdt:Transform="Replace">
    <compilation debug="false" />
    <pages theme="Blue"/>
    <sessionState  timeout="60"  mode="InProc"  customProvider="DynamoDBSessionStoreProvider" xdt:Transform="Replace" >
      <providers>
        <add name="DynamoDBSessionStoreProvider"
             type="Amazon.SessionProvider.DynamoDBSessionStateStore"
             Table="stg_portalsessions"
             Region="us-east-1"
             
         />
      </providers>
    </sessionState>
    <customErrors mode="On"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true" />
    <httpRuntime maxRequestLength="20000"/>
  </system.web>
  <appSettings>


    <add key="Default_ConciergeUri" value="net.tcp://api-internal.stage.membersuite.com:1566"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="Default_ConciergeUpn" value="StgMemberSuiteAPI@corp.membersuite.com" xdt:Transform="Insert" xdt:Locator="Match(key)"/>

    <!-- This is the ID of the association this portal is tied to. If this is blank, or 
    non-existent, MemberSuite will attempt to determine the association by resolving the host name.
    You should replace this value with the ID of your association - you can determine this by logging
    into the MemberSuite System, navigating to Setup, and selecting Association Settings. -->
    <add key="AssociationID" xdt:Transform="Remove" xdt:Locator="Match(key)" />

    <add key="CertificatesStoreName" value=""  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SigningCertificateSubject" value="CN=MemberSuiteStagePortal"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ImageServerUri" value="https://images.stage.membersuite.com"  xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="ImagesSecret" value="cz95actciZlJR5iXF9woqAD4DR3tJe0o"  xdt:Locator="Match(key)" xdt:Transform="Replace"/>

    <add key="AccessKeyId" value="AAAAAPIA9sC72ws48sDnEA" xdt:Transform="Replace" xdt:Locator="Match(key)" />
    <add key="SecretAccessKey" value="gwVbV9Mw+Rpql0rbcrujI/YOfAJgMjcH4qBa+5Od84rey0Baqk0MwF+WHa9jzGSWqVvlDKGNrNU/naDrXNwUPw=="  xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="SigningCertificateId" value="AAAAAPMA2MNyews48sEE0w" xdt:Transform="Replace" xdt:Locator="Match(key)"/>

    <add key="ConsoleUrl" value="https://console.stage.membersuite.com" xdt:Transform="Insert" xdt:Locator="Match(key)"/>

    <!--- AWS credentials are not needed, we use IAM roles-->
    <add key="AWSAccessKey" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="AWSSecretKey" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>

    <add key="DisableErrorScreen" xdt:Transform="Replace" value="false" xdt:Locator="Match(key)"/>

    <add key="AutoLoginName" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="AutoLoginPassword" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
  </appSettings>

  <system.webServer>
    <rewrite xdt:Transform="Insert">
      <rules>
        <!-- Redirects unsecured traffic to use SSL - DO NOT REMOVE -->
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" redirectType="Found" url="https://{HTTP_HOST}/{R:1}" />
        </rule>
      </rules>
    </rewrite>
    <modules>
    </modules>
  </system.webServer>
</configuration>
