<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
  <!-- This is the configuration file for the MemberSuite open-source portal. 
The items you MUST configure are:

   * API User Name
   * API Password
   * AssociationID
   
   Everything else is optional.
-->
  <system.web>
    <compilation
      debug="true"
      targetFramework="4.0">
      <buildProviders>
        <remove
          extension=".lic" />
        <add
          extension=".lic"
          type="System.Web.Compilation.ForceCopyBuildProvider" />
      </buildProviders>
    </compilation>
    <pages
      theme="Blue" />
    <customErrors
      mode="Off" />
  </system.web>
  <appSettings>
    <add key="vs:EnableBrowserLink" value="false" />
    <add
      key="CertificatesStoreName"
      value="" />
    <add
      key="SigningCertificateSubject"
      value="CN=MemberSuitePortalDefaultDevelopment" />
    <add
      key="ImageServerUri"
      value="https://images.membersuite.com" />
    <add
      key="ConsoleUrl"
      value="https://console.membersuite.com" />
    <!--Production
    <add
      key="AssociationID"
      value="d8be35c3-0004-433f-92ec-eb616f85e313" />
    -->
    <add
      key="AssociationID"
      value="2537d8c3-0004-4ddb-b7e4-a6d76c09d3f9" />
    <add
      key="AccessKeyId"
      value="AAAAAPIAL8iA7gs7JZF/Ig" />
    <add
      key="SecretAccessKey"
      value="mJxnGuGG6+xCRMROXatATG+CsDAgvDfXoCIXXBSAectbxLFjjTc+sR6Qb6AqlHMvVfObi5LgB/eBkp1DX0I7ow==" />
    <add
      key="SigningCertificateId"
      value="AAAAAPMATsGP/As4sZ5rzg" />
    <add
      key="ImagesSecret"
      value="cz95actciZlJR5iXF9woqAD4DR3tJe0o" />
    <add
      key="ExposeRawErrors"
      value="true" />
    <add
      key="Default_ConciergeUri"
      value="https://soap.membersuite.com" />
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add
          value="default.aspx" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <add
          name="X-UA-Compatible"
          value="IE=8" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <location
    path="Tools/PortalSettings.aspx">
    <system.web>
      <pages
        validateRequest="false" />
      <httpRuntime
        requestValidationMode="2.0" />
    </system.web>
  </location>
</configuration>