<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <httpCookies xdt:Transform="Insert" httpOnlyCookies="true" requireSSL="true" />
  </system.web>
  <appSettings>
    <add key="AutoLoginName" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
    <add key="AutoLoginPassword" xdt:Transform="RemoveAll" xdt:Locator="Match(key)"/>
  </appSettings>
</configuration>
